Repository fstnetwork/rust-common-libs: changes, and which pre-commit hooks are due for each by the changed paths.
All: nixpkgs-fmt, clang-format, rust-format, cargo-check, clippy

.pre-commit-config.yaml:

default_stages: [commit]
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.0.1
    hooks:
      - id: check-case-conflict
      - id: check-executables-have-shebangs
      - id: check-merge-conflict
      - id: check-shebang-scripts-are-executable
        exclude: '.*\.rs$'
      - id: check-symlinks
      - id: check-toml
      - id: check-vcs-permalinks
      - id: check-yaml
        exclude: charts/[^/]+/templates/.+.yaml
      - id: end-of-file-fixer
        exclude: '.*\.rs$'
      - id: fix-byte-order-marker
      - id: mixed-line-ending
      - id: trailing-whitespace
  - repo: local
    hooks:
      - id: commitlint
        name: commitlint
        description: Lint your commit messages
        stages: [commit-msg]
        language: system
        entry: commitlint --edit
        always_run: true
      - id: nixpkgs-fmt
        name: nixpkgs-fmt
        description: Format nix code with nixpkgs-fmt.
        entry: nixpkgs-fmt
        language: system
        types: [nix]
      - id: clang-format
        name: clang-format
        description: Format C/C++/Java/JavaScript/Objective-C/Protobuf/C# code
        entry: clang-format
        language: system
        types: [proto]
      - id: prettier
        name: prettier
        entry: prettier --check --ignore-unknown
        language: system
      - id: rust-format
        name: rust-format
        description: Formats all bin and lib files of the current crate using rustfmt
        entry: ./dev-support/bin/format-rust
        language: system
        types: [rust]
        pass_filenames: false
      - id: cargo-check
        name: cargo check
        description: Check a local package and all of its dependencies for errors
        entry: cargo check
        language: system
        types: [rust]
        pass_filenames: false
      - id: clippy
        name: clippy
        description: Checks a package to catch common mistakes and improve your Rust code
        entry: ./dev-support/bin/cargo-clippy-all
        language: system
        types: [rust]
        pass_filenames: false

feat(lifecycle-manager): add `lifecycle-manager`
  Cargo.toml
  lifecycle-manager/Cargo.toml
  lifecycle-manager/README.md
  lifecycle-manager/build.rs
  lifecycle-manager/proto/test/TestService.proto
  lifecycle-manager/src/lib.rs
  lifecycle-manager/src/shutdown_state.rs
  lifecycle-manager/src/signal.rs
  lifecycle-manager/src/signal_watcher.rs
  lifecycle-manager/src/worker.rs
Due: clang-format, rust-format, cargo-check, clippy

test(lifecycle-manager): remove `tonic` test cases
  lifecycle-manager/Cargo.toml
  lifecycle-manager/build.rs
  lifecycle-manager/proto/test/TestService.proto
  lifecycle-manager/src/lib.rs
Due: clang-format, rust-format, cargo-check, clippy

ci(dependabot): disable updates for Docker
  .github/dependabot.yaml
Due: none

ci(dependabot): disable updates for Docker (#2)
  .github/dependabot.yaml
Due: none

docs(readme): update `README.md`
  README.md
Due: none

docs(readme): update `README.md` (#3)
  README.md
Due: none

ci(actions): fix typo in `audit.yaml`
  .github/workflows/audit.yaml
Due: none

ci(actions): fix typo in `audit.yaml` (#5)
  .github/workflows/audit.yaml
Due: none

feat(k8s-structural-schema): add `k8s-structural-schema`
  Cargo.toml
  k8s-structural-schema/Cargo.toml
  k8s-structural-schema/README.md
  k8s-structural-schema/src/ext.rs
  k8s-structural-schema/src/lib.rs
  k8s-structural-schema/src/structural/error.rs
  k8s-structural-schema/src/structural/mod.rs
  k8s-structural-schema/src/structural/test-data/example-1.structural.yaml
  k8s-structural-schema/src/structural/test-data/example-1.yaml
  k8s-structural-schema/src/structural/test-data/example-2.structural.yaml
  k8s-structural-schema/src/structural/test-data/example-2.yaml
  k8s-structural-schema/src/structural/test-data/example-3.structural.yaml
  k8s-structural-schema/src/structural/test-data/example-3.yaml
  k8s-structural-schema/src/structural/test-data/nullable-1.structural.yaml
  k8s-structural-schema/src/structural/test-data/nullable-1.yaml
  k8s-structural-schema/src/structural/test-data/nullable-2.structural.yaml
  k8s-structural-schema/src/structural/test-data/nullable-2.yaml
  k8s-structural-schema/src/structural/test-data/schemars#84.structural.yaml
  k8s-structural-schema/src/structural/test-data/schemars#84.yaml
  k8s-structural-schema/src/structural/tests.rs
  k8s-structural-schema/src/visit.rs
Due: rust-format, cargo-check, clippy

ci(actions): fix missing `--check` argument for Rust formatter
  .github/workflows/rust.yaml
Due: none

ci(actions): fix events that trigger `Rust` workflow
  .github/workflows/rust.yaml
Due: none

ci(actions): fix events that trigger `Rust` workflow (#10)
  .github/workflows/rust.yaml
Due: none

ci(actions): fix missing `--check` argument for Rust formatter (#9)
  .github/workflows/rust.yaml
Due: none

chore(lifecycle-manager): bump version to v0.2.0
  lifecycle-manager/Cargo.toml
Due: none

ci(actions): skip coverage step while using GitHub Actions
  .github/workflows/rust.yaml
Due: none

ci(actions): skip coverage step while using GitHub Actions (#11)
  .github/workflows/rust.yaml
Due: none

chore(lifecycle-manager): bump version to v0.2.0 (#8)
  lifecycle-manager/Cargo.toml
Due: none

docs(readme): add `k8s-structural-schema` link to `README.md`
  README.md
Due: none

docs(readme): add `k8s-structural-schema` link to `README.md` (#12)
  README.md
Due: none

chore(k8s-structural-schema): bump version to v0.2.0
  k8s-structural-schema/Cargo.toml
Due: none

chore(k8s-structural-schema): bump version to v0.2.0 (#14)
  k8s-structural-schema/Cargo.toml
Due: none

test(k8s-structural-schema): remove redundant whitesapce in assertion message
  k8s-structural-schema/src/structural/tests.rs
Due: rust-format, cargo-check, clippy

chore(nix): update `flake.lock`
  flake.lock
Due: none

chore(nix): update `flake.lock` (#17)
  flake.lock
Due: none

chore(deny): allow license `Unicode-DFS-2016`
  deny.toml
Due: none

chore(toolchain): bump nightly toolchain from nightly-2022-04-13 to nightly-2022-10-12
  dev-support/lib/toolchain
Due: none

ci(actions): bump nightly toolchain from nightly-2022-04-13 to nightly-2022-10-12
  .github/workflows/audit.yaml
  .github/workflows/lint.yaml
  .github/workflows/rust.yaml
Due: none

ci(dependabot): set `interval` to `weekly`
  .github/dependabot.yaml
Due: none

chore(nix): update `flake.lock`
  .envrc
  flake.lock
Due: none

feat(pulsar-client): add `pulsar-client`
  .codespellrc
  .github/workflows/lint.yaml
  .github/workflows/rust.yaml
  .gitmodules
  .shfmtignore
  .tokeignore
  Cargo.toml
  dev-support/bin/format-all
  dev-support/bin/generate-bindings
  dev-support/bin/install-deps
  dev-support/nix-overlay/default.nix
  dev-support/nix-overlay/dev-shell.nix
  dev-support/nix-overlay/libpulsar/auxv.patch
  dev-support/nix-overlay/libpulsar/default.nix
  pulsar-client-sys/Cargo.toml
  pulsar-client-sys/bindings.h
  pulsar-client-sys/build.rs
  pulsar-client-sys/src/bindings.rs
  pulsar-client-sys/src/lib.rs
  pulsar-client-sys/src/types/mod.rs
  pulsar-client-sys/src/types/result.rs
  pulsar-client/Cargo.toml
  pulsar-client/examples/consumer.rs
  pulsar-client/src/authentication.rs
  pulsar-client/src/client/configuration.rs
  pulsar-client/src/client/mod.rs
  pulsar-client/src/consumer/configuration.rs
  pulsar-client/src/consumer/mod.rs
  pulsar-client/src/error.rs
  pulsar-client/src/lib.rs
  pulsar-client/src/message.rs
  pulsar-client/src/native.rs
  pulsar-client/src/producer/configuration.rs
  pulsar-client/src/producer/mod.rs
  pulsar-client/src/reader/configuration.rs
  pulsar-client/src/reader/mod.rs
  pulsar-client/src/stl.rs
  pulsar-client/src/util.rs
Due: nixpkgs-fmt, rust-format, cargo-check, clippy

docs: update `README.md`
  README.md
Due: none

chore(nix): disable `cargo-tarpaulin` platform other than `x86_64-linux`
  dev-support/nix-overlay/dev-shell.nix
Due: nixpkgs-fmt

chore(nix): remove unused packages
  dev-support/nix-overlay/dev-shell.nix
Due: nixpkgs-fmt

build(deps): add missing feature `rt-multi-thread` for `tokio`
  pulsar-client/Cargo.toml
Due: none

chore(nix): add `llvmPackages.clang`
  dev-support/nix-overlay/dev-shell.nix
Due: nixpkgs-fmt

refactor(pulsar-client): rename `util` to `utils`
  pulsar-client/src/consumer/configuration.rs
  pulsar-client/src/consumer/mod.rs
  pulsar-client/src/lib.rs
  pulsar-client/src/utils.rs
Due: rust-format, cargo-check, clippy

feat(pulsar-client): implement `Producer`
  pulsar-client/Cargo.toml
  pulsar-client/examples/multi_topic_producer.rs
  pulsar-client/examples/producer.rs
  pulsar-client/src/client/configuration.rs
  pulsar-client/src/client/mod.rs
  pulsar-client/src/consumer/mod.rs
  pulsar-client/src/error.rs
  pulsar-client/src/lib.rs
  pulsar-client/src/message.rs
  pulsar-client/src/producer/configuration.rs
  pulsar-client/src/producer/mod.rs
  pulsar-client/src/producer/multi_topic.rs
  pulsar-client/src/stl.rs
Due: rust-format, cargo-check, clippy

feat(pulsar-client): add `SerializeMessage` and `DeserializeMessage`
  pulsar-client/examples/multi_topic_producer.rs
  pulsar-client/examples/producer.rs
  pulsar-client/src/message.rs
  pulsar-client/src/producer/message.rs
  pulsar-client/src/producer/mod.rs
  pulsar-client/src/producer/multi_topic.rs
Due: rust-format, cargo-check, clippy
